## Exploratory Data Analysis

In [32]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from supervised.automl import AutoML

### DATA SECTION 1

In [33]:
data_section_1_names = ["MTeams.csv" , "WTeams.csv", "MSeasons.csv", "WSeasons.csv",
                        "MNCAATourneySeeds.csv", "WNCAATourneySeeds.csv",
                        "MRegularSeasonCompactResults.csv", "WRegularSeasonCompactResults.csv",
                        "MNCAATourneyCompactResults.csv", "WNCAATourneyCompactResults.csv",
                        "SampleSubmissionStage1.csv"]

In [34]:
folder = "../../data/"
dfs = [None for i in range(len(data_section_1_names))]
for i, name in enumerate(data_section_1_names):
    dfs[i] = pd.read_csv(folder + name)

In [41]:
for i in range(len(data_section_1_names)):
    print(data_section_1_names[i] + " " +str(i))
    print(dfs[i].head())

MTeams.csv 0
   Season  TeamID  FirstDayNum  LastDayNum       CoachName
0    1985    1102            0         154   reggie_minton
1    1985    1103            0         154     bob_huggins
2    1985    1104            0         154  wimp_sanderson
3    1985    1106            0         154    james_oliver
4    1985    1108            0         154   davey_whitney
WTeams.csv 1
  ConfAbbrev                   Description
0      a_sun       Atlantic Sun Conference
1      a_ten        Atlantic 10 Conference
2        aac  American Athletic Conference
3        acc     Atlantic Coast Conference
4        aec       America East Conference
MSeasons.csv 2
   Season  TeamID ConfAbbrev
0    1985    1102        wac
1    1985    1103        ovc
2    1985    1104        sec
3    1985    1106       swac
4    1985    1108       swac
WSeasons.csv 3
   Season  TeamID ConfAbbrev
0    1998    3102        wac
1    1998    3103        mac
2    1998    3104        sec
3    1998    3106       swac
4    1998    3108       swac
MNCAATourneySeeds.csv 4
   Season ConfAbbrev  DayNum  WTeamID  LTeamID
0    2001      a_sun     121     1194     1144
1    2001      a_sun     121     1416     1240
2    2001      a_sun     122     1209     1194
3    2001      a_sun     122     1359     1239
4    2001      a_sun     122     1391     1273
WNCAATourneySeeds.csv 5
   Season ConfAbbrev  DayNum  WTeamID  LTeamID
0    2002      a_sun     129     3194     3144
1    2002      a_sun     129     3209     3407
2    2002      a_sun     129     3273     3125
3    2002      a_sun     129     3391     3416
4    2002      a_sun     130     3194     3273
MRegularSeasonCompactResults.csv 6
   Season SecondaryTourney  TeamID
0    1985              NIT    1108
1    1985              NIT    1133
2    1985              NIT    1139
3    1985              NIT    1145
4    1985              NIT    1151
WRegularSeasonCompactResults.csv 7
   Season SecondaryTourney  TeamID
0    2013              WBI    3125
1    2013              WBI    3158
2    2013              WBI    3178
3    2013              WBI    3184
4    2013              WBI    3189
MNCAATourneyCompactResults.csv 8
   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT  \
0    1985     136     1151      67     1155      65    H      0
1    1985     136     1153      77     1245      61    H      0
2    1985     136     1201      79     1365      76    H      0
3    1985     136     1231      79     1139      57    H      0
4    1985     136     1249      78     1222      71    H      0

  SecondaryTourney
0              NIT
1              NIT
2              NIT
3              NIT
4              NIT
WNCAATourneyCompactResults.csv 9
   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT  \
0    2013     135     3120      80     3412      57    H      0
1    2013     135     3140      69     3226      54    H      0
2    2013     135     3158      72     3297      70    A      0
3    2013     135     3183      60     3281      58    A      0
4    2013     135     3189      68     3184      61    H      0

  SecondaryTourney
0             WNIT
1             WNIT
2              WBI
3             WNIT
4              WBI
SampleSubmissionStage1.csv 10
   Season  Slot StrongSeed WeakSeed
0    1985  R1W1        W01      W16
1    1985  R1W2        W02      W15
2    1985  R1W3        W03      W14
3    1985  R1W4        W04      W13
4    1985  R1W5        W05      W12

In [43]:
dfs[2]

       Season  TeamID ConfAbbrev
0        1985    1102        wac
1        1985    1103        ovc
2        1985    1104        sec
3        1985    1106       swac
4        1985    1108       swac
...       ...     ...        ...
13383    2025    1476        nec
13384    2025    1477  southland
13385    2025    1478        nec
13386    2025    1479        nec
13387    2025    1480      a_sun

[13388 rows x 3 columns]

### DATA SECTION 2 - Team Box Scores

In [36]:
data_section_2_names = ["MRegularSeasonDetailedResults.csv", "WRegularSeasonDetailedResults.csv",
                        "MNCAATourneyDetailedResults.csv", "WNCAATourneyDetailedResults.csv"]

In [37]:
dfs = [None for i in range(len(data_section_2_names))]
for i, name in enumerate(data_section_2_names):
    dfs[i] = pd.read_csv(folder + name)
for i in range(len(data_section_2_names)):
    print(data_section_2_names[i])
    print(dfs[i].head())

MRegularSeasonDetailedResults.csv
   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT  WFGM  WFGA  \
0    2003      10     1104      68     1328      62    N      0    27    58
1    2003      10     1272      70     1393      63    N      0    26    62
2    2003      11     1266      73     1437      61    N      0    24    58
3    2003      11     1296      56     1457      50    N      0    18    38
4    2003      11     1400      77     1208      71    N      0    30    61

   ...  LFGA3  LFTM  LFTA  LOR  LDR  LAst  LTO  LStl  LBlk  LPF
0  ...     10    16    22   10   22     8   18     9     2   20
1  ...     24     9    20   20   25     7   12     8     6   16
2  ...     26    14    23   31   22     9   12     2     5   23
3  ...     22     8    15   17   20     9   19     4     3   23
4  ...     16    17    27   21   15    12   10     7     1   14

[5 rows x 34 columns]
WRegularSeasonDetailedResults.csv
   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT  WFGM  WFGA  \
0    2010      11     3103      63     3237      49    H      0    23    54
1    2010      11     3104      73     3399      68    N      0    26    62
2    2010      11     3110      71     3224      59    A      0    29    62
3    2010      11     3111      63     3267      58    A      0    27    52
4    2010      11     3119      74     3447      70    H      1    30    74

   ...  LFGA3  LFTM  LFTA  LOR  LDR  LAst  LTO  LStl  LBlk  LPF
0  ...     13     6    10   11   27    11   23     7     6   19
1  ...     21    14    27   14   26     7   20     4     2   27
2  ...     14    19    23   17   23     8   15     6     0   15
3  ...     26    16    25   22   22    15   11    14     5   14
4  ...     17    11    21   21   32    12   14     4     2   14

[5 rows x 34 columns]
MNCAATourneyDetailedResults.csv
   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT  WFGM  WFGA  \
0    2003     134     1421      92     1411      84    N      1    32    69
1    2003     136     1112      80     1436      51    N      0    31    66
2    2003     136     1113      84     1272      71    N      0    31    59
3    2003     136     1141      79     1166      73    N      0    29    53
4    2003     136     1143      76     1301      74    N      1    27    64

   ...  LFGA3  LFTM  LFTA  LOR  LDR  LAst  LTO  LStl  LBlk  LPF
0  ...     31    14    31   17   28    16   15     5     0   22
1  ...     16     7     7    8   26    12   17    10     3   15
2  ...     28    14    21   20   22    11   12     2     5   18
3  ...     17    12    17   14   17    20   21     6     6   21
4  ...     21    15    20   10   26    16   14     5     8   19

[5 rows x 34 columns]
WNCAATourneyDetailedResults.csv
   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT  WFGM  WFGA  \
0    2010     138     3124      69     3201      55    N      0    28    57
1    2010     138     3173      67     3395      66    N      0    23    59
2    2010     138     3181      72     3214      37    H      0    26    57
3    2010     138     3199      75     3256      61    H      0    25    63
4    2010     138     3207      62     3265      42    N      0    24    68

   ...  LFGA3  LFTM  LFTA  LOR  LDR  LAst  LTO  LStl  LBlk  LPF
0  ...     34     3     5   17   19    12   18     4     1   18
1  ...     27    14    15   18   26     8    8     8     6   22
2  ...     15     3     8   10   21     4   16     6     4   20
3  ...     20    17    22   16   21    13   16     5     4   24
4  ...     26    11    17   16   22     9   10     3     4   12

[5 rows x 34 columns]

### DATA SECTION 3 - Geographic Data

In [38]:
data_section_3_names = ["Cities.csv", "MGameCities.csv", "WGameCities.csv"]
dfs = [None for i in range(len(data_section_3_names))]
for i, name in enumerate(data_section_3_names):
    dfs[i] = pd.read_csv(folder + name)
for i in range(len(data_section_3_names)):
    print(data_section_3_names[i])
    print(dfs[i].head())

Cities.csv
   CityID         City State
0    4001      Abilene    TX
1    4002        Akron    OH
2    4003       Albany    NY
3    4004  Albuquerque    NM
4    4005    Allentown    PA
MGameCities.csv
   Season  DayNum  WTeamID  LTeamID   CRType  CityID
0    2010       7     1143     1293  Regular    4027
1    2010       7     1314     1198  Regular    4061
2    2010       7     1326     1108  Regular    4080
3    2010       7     1393     1107  Regular    4340
4    2010       9     1143     1178  Regular    4027
WGameCities.csv
   Season  DayNum  WTeamID  LTeamID   CRType  CityID
0    2010      11     3103     3237  Regular    4002
1    2010      11     3104     3399  Regular    4085
2    2010      11     3110     3224  Regular    4363
3    2010      11     3111     3267  Regular    4158
4    2010      11     3119     3447  Regular    4367

### DATA SECTION 4 - Public Rankings

In [39]:
data_section_4_names = ["MMasseyOrdinals.csv"]
dfs = [None for i in range(len(data_section_4_names))]
for i, name in enumerate(data_section_4_names):
    dfs[i] = pd.read_csv(folder + name)
for i in range(len(data_section_4_names)):
    print(data_section_4_names[i])
    print(dfs[i].head())

MMasseyOrdinals.csv
   Season  RankingDayNum SystemName  TeamID  OrdinalRank
0    2003             35        SEL    1102          159
1    2003             35        SEL    1103          229
2    2003             35        SEL    1104           12
3    2003             35        SEL    1105          314
4    2003             35        SEL    1106          260

### DATA SECTION 5 - Supplements

In [40]:
data_section_5_names = ["MTeamCoaches.csv", "Conferences.csv", "MTeamConferences.csv", "WTeamConferences.csv",
                        "MConferenceTourneyGames.csv", "WConferenceTourneyGames.csv", 
                        "MSecondaryTourneyTeams.csv", "WSecondaryTourneyTeams.csv",
                        "MSecondaryTourneyCompactResults.csv", "WSecondaryTourneyCompactResults.csv",
                        #"MTeamSpellings.csv", "WTeamSpellings.csv", 
                        "MNCAATourneySlots.csv", "WNCAATourneySlots.csv",
                        "MNCAATourneySeedRoundSlots.csv"]
dfs = [None for i in range(len(data_section_5_names))]
for i, name in enumerate(data_section_5_names):
    dfs[i] = pd.read_csv(folder + name)
for i in range(len(data_section_5_names)):
    print(data_section_5_names[i])
    print(dfs[i].head())

MTeamCoaches.csv
   Season  TeamID  FirstDayNum  LastDayNum       CoachName
0    1985    1102            0         154   reggie_minton
1    1985    1103            0         154     bob_huggins
2    1985    1104            0         154  wimp_sanderson
3    1985    1106            0         154    james_oliver
4    1985    1108            0         154   davey_whitney
Conferences.csv
  ConfAbbrev                   Description
0      a_sun       Atlantic Sun Conference
1      a_ten        Atlantic 10 Conference
2        aac  American Athletic Conference
3        acc     Atlantic Coast Conference
4        aec       America East Conference
MTeamConferences.csv
   Season  TeamID ConfAbbrev
0    1985    1102        wac
1    1985    1103        ovc
2    1985    1104        sec
3    1985    1106       swac
4    1985    1108       swac
WTeamConferences.csv
   Season  TeamID ConfAbbrev
0    1998    3102        wac
1    1998    3103        mac
2    1998    3104        sec
3    1998    3106       swac
4    1998    3108       swac
MConferenceTourneyGames.csv
   Season ConfAbbrev  DayNum  WTeamID  LTeamID
0    2001      a_sun     121     1194     1144
1    2001      a_sun     121     1416     1240
2    2001      a_sun     122     1209     1194
3    2001      a_sun     122     1359     1239
4    2001      a_sun     122     1391     1273
WConferenceTourneyGames.csv
   Season ConfAbbrev  DayNum  WTeamID  LTeamID
0    2002      a_sun     129     3194     3144
1    2002      a_sun     129     3209     3407
2    2002      a_sun     129     3273     3125
3    2002      a_sun     129     3391     3416
4    2002      a_sun     130     3194     3273
MSecondaryTourneyTeams.csv
   Season SecondaryTourney  TeamID
0    1985              NIT    1108
1    1985              NIT    1133
2    1985              NIT    1139
3    1985              NIT    1145
4    1985              NIT    1151
WSecondaryTourneyTeams.csv
   Season SecondaryTourney  TeamID
0    2013              WBI    3125
1    2013              WBI    3158
2    2013              WBI    3178
3    2013              WBI    3184
4    2013              WBI    3189
MSecondaryTourneyCompactResults.csv
   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT  \
0    1985     136     1151      67     1155      65    H      0
1    1985     136     1153      77     1245      61    H      0
2    1985     136     1201      79     1365      76    H      0
3    1985     136     1231      79     1139      57    H      0
4    1985     136     1249      78     1222      71    H      0

  SecondaryTourney
0              NIT
1              NIT
2              NIT
3              NIT
4              NIT
WSecondaryTourneyCompactResults.csv
   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT  \
0    2013     135     3120      80     3412      57    H      0
1    2013     135     3140      69     3226      54    H      0
2    2013     135     3158      72     3297      70    A      0
3    2013     135     3183      60     3281      58    A      0
4    2013     135     3189      68     3184      61    H      0

  SecondaryTourney
0             WNIT
1             WNIT
2              WBI
3             WNIT
4              WBI
MNCAATourneySlots.csv
   Season  Slot StrongSeed WeakSeed
0    1985  R1W1        W01      W16
1    1985  R1W2        W02      W15
2    1985  R1W3        W03      W14
3    1985  R1W4        W04      W13
4    1985  R1W5        W05      W12
WNCAATourneySlots.csv
   Season  Slot StrongSeed WeakSeed
0    1998  R1W1        W01      W16
1    1998  R1W2        W02      W15
2    1998  R1W3        W03      W14
3    1998  R1W4        W04      W13
4    1998  R1W5        W05      W12
MNCAATourneySeedRoundSlots.csv
  Seed  GameRound GameSlot  EarlyDayNum  LateDayNum
0  W01          1     R1W1          136         137
1  W01          2     R2W1          138         139
2  W01          3     R3W1          143         144
3  W01          4     R4W1          145         146
4  W01          5     R5WX          152         152